body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 50px;
}

.headerTop {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    height: 40px;
}

.headerTopRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.headerTopLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 2%;
}

.headerTopItem {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.navTop {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
    outline: none;
}

.searchInput::placeholder {
    color: #ffffff;
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 1px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightblue;
    font-weight: 400;
}

.slider{
    background: url('./img/city.jpg') no-repeat center center fixed;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */

}

.sliderWrapper {
    display: flex;
    width: 500vw;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg {
    z-index: 1;
}
.sliderTitle {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: center;
    z-index: 1;
}
.sliderPrice {
    position: absolute;
    font-size: 50px;
    font-weight: 350;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    border: 3px solid gray;
    z-index: 1;
}

.sliderBtn{
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
    background-color: black;
}

.sliderBtn:hover {
    background-color: #ffffff;
    color: black;
}

.sliderItem:nth-child(1) .slideBg {
    background-color: #abc4ff;
}

.sliderItem:nth-child(2) .slideBg {
    background-color:  #b8e0d2;
}

.sliderItem:nth-child(3) .slideBg {
    background-color: #eac4d5;
}

.sliderItem:nth-child(4) .slideBg {
    background-color: #809bce;
}

.sliderItem:nth-child(5) .slideBg {
    background-color: #e8d1c5 ;
}

.sliderItem:nth-child(1) .sliderPrice {
    color: #abc4ff;
}

.sliderItem:nth-child(2) .sliderPrice {
    color:  #b8e0d2;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: #eac4d5;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: #809bce;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: #e8d1c5 ;
}