html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 50px;
}

.headerTop {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    height: 40px;
}

.headerTopRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.headerTopLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 2%;
}

.headerTopItem {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.navTop {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
    outline: none;
}

.searchInput::placeholder {
    color: #ffffff;
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 1px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightblue;
    font-weight: 400;
}

.slider{
    background: url('./img/city.jpg') no-repeat center center fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    overflow: hidden;

}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg {
    z-index: 1;
}
.sliderTitle {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 10%;
    text-align: center;
    z-index: 1;
}
.sliderPrice {
    position: absolute;
    font-size: 50px;
    font-weight: 350;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    border: 3px solid gray;
    z-index: 1;
}

.sliderBtn{
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
    background-color: black;
}

.sliderBtn:hover {
    background-color: #ffffff;
    color: black;
}

.sliderItem:nth-child(1) .slideBg {
    background-color: #abc4ff;
}

.sliderItem:nth-child(2) .slideBg {
    background-color:  #b8e0d2;
}

.sliderItem:nth-child(3) .slideBg {
    background-color: #eac4d5;
}

.sliderItem:nth-child(4) .slideBg {
    background-color: #809bce;
}

.sliderItem:nth-child(5) .slideBg {
    background-color: #e8d1c5 ;
}

.sliderItem:nth-child(1) .sliderPrice {
    color: #abc4ff;
}

.sliderItem:nth-child(2) .sliderPrice {
    color:  #b8e0d2;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: #eac4d5;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: #809bce;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: #e8d1c5 ;
}

.features {
    display: flex;
    allign-items: center;
    justify-content: space-between;
    padding: 50px ;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureImage {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.featureDesc {
    font-size: 15px;
    font-weight: 400;
    color: gray;
    margin-top: 20px;
    width: 50%;
    height: 100px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment {
    height: 500px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.87); 
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.87);
}

.payTitle {
    font-size: 20px;
    color: lightgray;
}

label {
    font-size: 14px;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder {
    color: lightgray;
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    background-color: rgb(83, 182, 83);
    color: white;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.87); 
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.87);
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}



.productImg {
    width: 50%;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}
.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: gray;
}

.colours, .sizes {
    display: flex;
    margin-bottom: 20px;
}

.colour {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.colour:last-child {
    background-color: darkblue;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton {
    padding: 10px 20px;
    float: right;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
    background-color: white;
    color: black;
}

.gallery {
    padding: 50px;
    display: flex;
}

.galleryItem {
    flex: 1;
    padding: 50px;

}

.galleryImg {
    width: 100%;
}

.newSeason {
    display: flex;
}

.nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
}

.nsImage {
    width: 100%;
    height: 500px;
}

.nsTitle {
    font-size: 50px;
}

.nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    display: flex;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenutitle {
    font-size: 16px;
}

.fMenuList {
    list-style: none;
    padding: 0;
}

.fMenuListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.footerRight {
    flex:1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput {
    padding: 5px;
}

.fMailBtn {
    padding: 5px;
    background-color: black;
    color : white;
}

.fIcon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.copyright {
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 480px) {
    .sliderWrapper {
        width: 1000vw;
    }
    .sliderItem {
        width: 1000px;
    }
    .sliderTitle {
        font-size: 30px;
    }
    .sliderPrice {
        font-size: 30px;
    }
    .sliderBtn {
        font-size: 20px;
    }
    .product {
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
    .productImg {
        width: 100%;
    }
    .productDetails {
        width: 100%;
        padding: 20px;
    }
    .productTitle {
        font-size: 50px;
    }
    .productDesc {
        font-size: 20px;
    }
    .gallery {
        flex-direction: column;
    }
    .galleryItem {
        padding: 20px;
    }
    .galleryImg {
        width: 100%;
    }
    .newSeason {
        flex-direction: column;
    }
    .nsItem {
        padding: 20px;
    }
    .nsImage {
        height: 300px;
    }
    .nsTitle {
        font-size: 30px;
    }
    .nsButton {
        padding: 10px;
    }
    .footerLeft {
        flex-direction: column;
        align-items: center;
    }
    .footerRight {
        padding: 20px;
    }
    .fInput {
        width: 100%;
    }
    .fMailBtn {
        width: 100%;
    }
    
}